.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 20px auto;
  background-color: rgba(#fff, $alpha: 0.1);
  opacity: 0.9;

  p {
    margin: 0;
    padding: 0;
  }

  .day-prediction-tag {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
  }

  .information {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
      padding: 0;
    }
  }
}
