.global-info {
  padding: 40px;
  text-align: center;
  margin: 0 auto;
  width: 80%;

  h1 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  h2 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .temperature {
    display: flex;
    justify-content: center;
    p {
      font-weight: 400;
      font-size: 120px;
      margin: 0;
      padding: 0;
    }
    span {
      position: relative;
      font-weight: 200;
      font-size: 60px;
      top: 8px;
      left: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .condition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    img{
        height:70px;
        width: auto;

    }

    .text {
        opacity: 0.5;
        font-size: 20px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
  }
}
