.historical-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;

  h1 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 1em 0;
  }

  a {
    margin-left: auto;
    color: white;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .date{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    text-align: right;
    border-right: 5px solid #282828;
  }

  .resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 10px 0;
    gap: 10px;
    width: 100%;

    .info{
      background-color: #282828;

      .title{
        font-size: 12px;
        font-weight: 100;
      }
    }
  }
}
