/* https://www.schemecolor.com/apple-weather-app-icon-2017-colors.php */
/* https://www.schemecolor.com/red-black-blue.php */

.App {
  background-color: #181818;
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
